<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    {% set new_todos = todos | length %} //Jinja filters to call inline functions using the pipe operator 
    {% if new_todos > 0 %}
    <p>You have {{new_todos}} tasks left to complete. </p>
    {% else %}
    <p>You have nothing left for today! Relax</p>
    {% endif %}

    <ul>
        {% for todo in todos %}
            <li>{{todo}}</li>
        {% endfor %}
    </ul>


</body>
</html>